@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&family=Vesper+Libre&display=swap');
/*font-family: 'Rokkitt', serif;*/

*{
    margin: 0;
    padding: 0;
}

header img{
    width: 170px;
}
a.nav-link{
    font-weight: bold;
    font-size: large;
    font-family: 'Rokkitt', serif;
    text-decoration: none;
    color: #000000;
    text-decoration-style: none;
}
a.nav-link:hover{
    color: rgb(154, 154, 154)
}

.dark-mode{
    background-color: #292929;
}
.darkmode-color{
    color: #FFFFFF;
}
main section{
    font-family: 'Rokkitt', serif;
}
main section #textos h2{
    font-size: 2.7rem;
    width: 75%;
}
main section #textos p{
    font-size: 1.2rem;
}
.imagem #controller img{
    border-radius: 10px;

}

.imagem #controller .img-base-teclado{
 width: 210px;
 height: 90px;
 background: linear-gradient(180deg, #201004 8.85%, #000000 93.75%);
backdrop-filter: blur(2px);
 border-radius: 10px;
 flex-direction: column;
    bottom: -30px;
    color: #FFFFFF;
    
}
.imagem #controller  .img-base-teclado .text-principal{
font-size: 1.1rem;
}
.imagem #controller  .img-base-teclado .text-sub{
    font-size: 1rem;
}

#navbarOffcanvasLg{
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

#teste2{
    margin-top: 12px;
}
.img-base-teclado-480{
    width: 170px;
    height: 70px;
   }

   .img-base-teclado-768{
    width: 190px;
    height: 90px;
    background: linear-gradient(180deg, #201004 8.85%, #000000 93.75%);
backdrop-filter: blur(2px);
 border-radius: 10px;
 flex-direction: column;
    bottom: -30px;
    color: #FFFFFF;
   }
   .img-base-teclado-480{
    width: 170px;
    height: 70px;
    background: linear-gradient(180deg, #201004 8.85%, #000000 93.75%);
    backdrop-filter: blur(2px);
     border-radius: 10px;
     flex-direction: column;
        bottom: -30px;
        color: #FFFFFF;
   }